{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="container-fluid w-75 container-home">

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}

    <h1 class="text-center form-label">Productos</h1>
    <div class="w-50 shadow mx-auto p-4 m-3 login-dark">
    <form class="w-100 shadow mx-auto p-4" method="post" action="{% url 'agregarProducto' %}">
        {% csrf_token %}
        <div class="mb-3 form-group">
            <label for="exampleInputText" class="form-label">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="exampleInputEmail1" required>
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputText" class="form-label">Precio</label>
            <input name="precio" type="number" class="form-control" required>
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputText" class="form-label">Stock</label>
            <input name="stock_actual" type="number" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

    <table class="table table-dark ">
        <tr class="table-dark">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th colspan="2">
            </th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            <td>
                <form action="{% url 'eliminarProducto' producto.id %}"
                    onClick="return confirm('Esta seguro de eliminar este producto?')">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'editarProducto' producto.id %}">
                    {% csrf_token %}
                    <button class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}