{% extends 'main.html' %}
{% block content %}
<div class="container-fluid w-75">
    <h1 class="text-center">Proveedores</h1>
    <form class="w-50 shadow mx-auto p-4 m-3" method="post" action="{% url 'editado' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{proveedor.id}}">
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="exampleInputEmail1" required value="{{proveedor.nombre}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Apellido</label>
            <input name="precio" type="text" class="form-control" required value="{{proveedor.apellido}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputText" class="form-label">Dni</label>
            <input name="stock_actual" type="number" class="form-control" required value="{{proveedor.dni}}">
        </div>
        <button type="submit" class="btn btn-warning">Actualizar</button>
    </form>
</div>
{% endblock %}